{% extends 'etudiant/base.html' %} {% block content %}
<div class="row">
    <div class="col-sm-8 offset-2 card py-4">
        <h4 class="alert alert-info">Modifier les informations d'un etudiants</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Modifier">
            <a href="{% url 'addandshow' %}" class="btn btn-dark">Retour en arrière</a>
        </form>
    </div>
</div>
{% endblock content %}